*{
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
}
/* Herosection */
/* Category slider */
.custom-image-size{
  height: 165px !important;
  width: 218px !important;
}
/* card hover styles */
.img-2{
  opacity: 0;
  transition: 0.5s;
  top: 0;
}
.hover-styles:hover .img-2{
  opacity: 1;
}
.card-buttons{
  right: 0;
  top: 0;
}
.hover-img{
  transition: 0.5s;
}
.hover-img:hover{
  transform: scale(1.1);
}
.card-buttons .btn:hover{
  background-color: #424ef7;
}
.card-buttons .btn{
  background-color: #ffffff;
}
.card-buttons .btn:hover i{
  color: #fff;
}
.add-cart-btn{
  opacity: 0;
  background-color: #424ef7;
  color: #fff !important;
  transition: 0.5s;
}
.add-cart-btn:hover{
  background-color: #000000 !important;
}
.hover-styles:hover .add-cart-btn{
  opacity: 1;
}
.cart-button{
  bottom: 0;
  right: 0;
}
.sub-topic-border{
  border-bottom: 3px solid blue;
}
.custom-border-counter{
  border:2px solid #ffc107;
  border-radius: 24px;
}
.counter{
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}