* {
  font-family: "Roboto", sans-serif;
  text-decoration: none !important;

}

body {
  background-color: #E8F7FF;
}

.secondary-font {
  font-family: "Enriqueta", serif !important;
}

.dm-sans {
  font-family: "DM Sans", sans-serif !important;
}
.fanwood {
  font-family: "Fanwood Text", serif !important;

}

.welcome-text {
  font-size: 64px !important;
  font-weight: 700 !important;
}

.welcome-sub-text {
  font-size: 30px;
  font-weight: 400 !important;
  color: #165757;
}

.qr-btn {
  background-color: #96B2B5 !important;
  transition: all 0.3s ease-in-out;
}
.add-treatment{
  background-color: #427378 !important;
  transition: all 0.3s ease-in-out;
  color: white;
}
.add-treatment:hover{
  background-color: #96B2B5 !important;
  transition: all 0.3s ease-in-out;
  color: black;
}

.qr-btn:hover {
  background-color: #96B2B5 !important;
  color: #fff;
  box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.3);

}

.home-btn {
  background-color: #008080 !important;
  color: white;
  transition: all 0.3s ease-in-out;
}

.home-btn:hover {
  background-color: #008080 !important;
  color: #fff;
  box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.3);

}
.cancle-btn{
  background-color: #abd4d8 !important;
}
.submit-btn{
  background-color: #5b7c80 !important;
  color: white !important;
}
.submit-btn:hover{
  color: rgb(0, 0, 0) !important;
}

.copyright-text {
  font-size: 14px;
  color: #96B2B5;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.navbar {
  z-index: 1050;
}

.nav-container {
  justify-content: flex-end !important;
}

.login-btn {
  text-decoration: underline !important;
}

.login-welcome-text {
  font-family: "Enriqueta", serif !important;
  font-weight: 600;
}

.card-subtitle-login {
  font-family: "Enriqueta", serif !important;
  font-weight: 600;
}

.form-control {
  box-shadow: none !important;
}

.show-hide-btn {
  right: 0 !important;
  top: 6px !important;
}

.forgot-pwd {
  font-size: 12px;
  font-weight: 300;
  color: #D885A3;
}

.input-field {
  background-color: white !important;
  border-radius: 0px;
  border-color: white !important;
}

.input-field:active {
  background-color: white !important;
}

.input-field:focus {
  background-color: white !important;
}

.input-field::placeholder {
  color: #b9b8b8;
  opacity: 1;
}

.side-wrapper {
  background-color: #427378;
  height: 100vh;
  width: 300px;
}

.name {
  font-size: 20px;
  font-weight: 600;

}

.logout-btn-sidenav {
  font-size: 12px;
  transition: all 0.3s ease-in-out;
  border: 1px solid rgb(0, 0, 0);
}

.logout-btn-sidenav:hover {
  color: white !important;
  border-color: #fff;
}

.email {
  font-size: 13px;
  color: #bdcfd1;
}

.menu-wrapper .active {
  background-color: #67888b !important;

}

.menu:hover {
  background-color: #67888b;
}

.table-heading {
  font-size: 24px;
  font-weight: 700;
}

.add-btn {
  background-color: #427378 !important;
  font-size: 12px;
}

.search-icon {
  background-color: #B5EBF7 !important;
  color: #938d9e !important;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.filter-icon {
  background-color: #B5EBF7 !important;
  color: #938d9e !important;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.search-bar {
  background-color: #B5EBF7 !important;
}

.search-bar::placeholder {
  color: #938d9e !important;
}

.pet-table {
  border-color: rgb(206, 206, 206);

}

.custom-color {
  background-color: #E8ECEC !important;
}

.pet-pic-wrapper {
  width: 150px;
  border-radius: 100%;
}

.file-btn {
  padding: 2px 7px;
  border-radius: 100%;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  bottom: 15px;
  right: 10px;
}
.pet-add-topic{
  font-size: 18px;
  font-weight: 700;
  color: #140F4E !important;
}
.input-heading-text{
  font-weight: 500;
}
.input-data{
  background-color: #FAFAFA !important;
}
.my-pet-heading{
  font-size: 48px;
  color: #008080;
}
.my-pet-records{
  font-size: 24px;
  font-weight: 700;
}
.mypet-name{
  font-size: 28px;
  font-weight: 600;
  color: black;
}
.mypet-breed{
  color: #165757;
  font-weight: 400;
}
.show-records{
  background-color: black;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.img-pet-wrapper:hover .show-records{
  opacity: 0.85;
}
.crossing-heading{
  font-size: 20px;
  color: #165757;
}
/* .img-crossing-wrapper{
  width: 180px;
} */
.img-crossing-wrapper:hover .show-records{
  opacity: 0.85;
}