* {
  font-family: "Roboto", sans-serif;
  text-decoration: none !important;
}

.secondary-font {
  font-family: "Enriqueta", serif !important;
}

.dm-sans {
  font-family: "DM Sans", sans-serif !important;
}

.welcome-text {
  font-size: 64px !important;
  font-weight: 700 !important;
}

.welcome-sub-text {
  font-size: 30px;
  font-weight: 400 !important;
  color: #165757;
}

.qr-btn {
  background-color: #96B2B5 !important;
  transition: all 0.3s ease-in-out;
}

.qr-btn:hover {
  background-color: #96B2B5 !important;
  color: #fff;
  box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.3);

}

.home-btn {
  background-color: #008080 !important;
  color: white;
  transition: all 0.3s ease-in-out;
}

.home-btn:hover {
  background-color: #008080 !important;
  color: #fff;
  box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.3);

}

.copyright-text {
  font-size: 14px;
  color: #96B2B5;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.navbar {
  z-index: 1050; 
}
.nav-container{
  justify-content: flex-end !important;
}